<h1>form</h1>

<form action="/countries/<%= @id %>" method="post">
  <div>
    <label>Title</label>
    <input type="text" name="country_name" value="<%= @country['data'][@id]["country_name"] %>">
  </div>
  <div>
    <label>Continent</label>
    <input type="text" name="continent" value="<%= @country['data'][@id]["continent"] %>">
  </div>
  <div>
    <label>Population</label>
    <input type="text" name="population" value="<%= @country['data'][@id]["population"] %>">
  </div>
  <div>
    <label>Language</label>
    <input type="text" name="language" value="<%= @country['data'][@id]["language"] %>">
  </div>
  <div>
    <label>World Cup</label>
    <input type="text" name="world_cup" value="<%= @country['data'][@id]["world_cup"] %>">
  </div>
  <input type="submit" value="submit">

  <% if @country[:id] != "" %>
  <input type="hidden" name="_method" value="PUT">
  <% end %>

</form>
