<h1><%= @country[:country_name] %></h1>

<h3><%= @country[:continent] %></h3>
<h3><%= @country[:population] %></h3>
<h3><%= @country[:language] %></h3>
<h3><%= @country[:world_cup] %></h3>

<a href="/countries/<%= @country[:id] %>/edit"> Edit </a>
